Options -Indexes
Options -Multiviews

RewriteEngine On
# Si no es un archivo ni directorio físico, redirige a index.php con el parámetro url
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]